@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <table border="1">
            @foreach(var item in ViewBag.StoreEntities)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.Name</th>
                    <th>@item.Address</th>
                    <th>@item.OperatingMode</th>
                    <th>@Html.ActionLink("Подробнее", "StoreProducts","Home")</th>
                </tr>
            }
        </table>
    </div>
</div>